* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content {
    position: relative;
    height: 100%;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-evenly;
}

label {
    position: relative;
    width: 200px;
}

.form-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

input {
    width: 200px;
    height: 40px;
}

.edit-ol {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-edit-btn {
    
}