@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
  --blue: #34A5DA;
  --black: #222222;
  --white: #EBEBEB;
  --font: 'IBM Plex Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  position: relative;
}

header {
  background-color: var(--blue);
  height: 60px;
  display: flex;
  align-items: center;
}

.brand {
  margin-left: 10%;
}

.container {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: var(--black);
  display: flex;
  align-items: center;
}

.powder {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  background-color: var(--white);
  position: relative;
}

.content {
  position: relative;
  padding: 10px 30px;
}

.name {
  text-decoration: underline;
  text-decoration-color: var(--blue);
  margin-bottom: 16px;
}

.location, .job, .employeer {
  margin-bottom: 16px;
  
}

ol {
  position: relative;
  margin-top: 2px;
  left: 50px
}

span {
  font-weight: 300;
}



.previous, .next {
  width: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-id-number {
  width: 100%;
  position: relative;
  height: 30px;
}

.user-number {
  position: absolute;
  right: 0;
}

.next {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

.controls {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--black);
  height: 50px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 6px 20px;
  border-radius: 15px;
  background-color: var(--blue);
  border: none;
  color: var(--white);
  margin-right: 8px;
  cursor: pointer;
}

.control-btns {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

.arrow {
  font-size: 1em;
}

